html, body, #root {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

div:focus {
	outline: 0;
}

:root {
	--filler: lightgrey;
}

h3 {
	margin: 0;
	padding: 0;
}

.app-container {
	margin: auto;
	height: 100%;
	width: 95%;
}

.center-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 1250px;
	max-width: 1400px;
	margin: .5rem auto;
}

.map-container {
	border: 1px solid black;
	background-color: rgb(236, 236, 236);
	position: absolute;
	left: 40%;
}

.xAxis {
	color: white;
}

.loading-icon-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
}

.loading-icon {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.map-title {
	position: absolute;
	top: 35%;
	left: 50%;
}

.tooltip-element-wrapper {
	padding: .3rem;
	width: 250px;
	font-size: .8rem;
}

.tooltip-element-key {
	font-weight: bold;
}

.tooltip-element-value {
	font-weight: lighter;
}

.left-sidebar, .right-sidebar {
	position: absolute;
	height: 600px;
}

.right-sidebar {
	right: -10px;
}

.left-sidebar {
	left: -10px;
}

.title-container {
	background-color: grey;
	padding: 0.54rem;
	border-bottom: 1px solid black;
	height: 20px;
	text-align: center;
}

.match-select-container, .game-select-container, .select-container {
	border: 1px solid black;
	width: 300px;
	background-color: var(--filler);
}

.brush-button-container {
	background: var(--filler);
	width: 12%;
	position: absolute;
	top: -22px;
	left: -1px;
	border: 1px black solid;
	cursor: pointer;
}

.brush-button {
	font-size: .7rem;
	font-weight: 700;
	text-align: center;
	padding: .2rem;
}

.map-controls {
	position: absolute;
	top: 3px;
	left: 3px;
	background-color: rgba(250, 250, 250, .3);
	border: 1px solid black;
	padding: .2rem;
}

.map-center-button {
	width: 60px;
	border: black solid 1px;
	background-color: grey;
	text-align: center;
	padding: .2rem;
	font-size: .8rem;
	cursor: pointer;
}

.map-center:hover {
	background-color: lightgrey;
}

.center-map-button {
	text-align: center;
	border: 1px black solid;
	width: 100px;
	margin: auto;
}

.match-select-container {
	height: 100px;
	text-align: center;
	margin-bottom: 2rem;
}

#map-select {
	position: relative;
	top: 20px;
	width: 200px;
	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; */
}

.tooltipsidebar-inner-container {
	padding: 1rem;
}

.select-container {
	height: 440px;
}

.unit-selection {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	margin: 0;
}

.group-select {
	padding: 1rem;
	text-align: center;
	vertical-align: middle;
}

.group-option-container {
	height: 180px;
	margin-bottom: 2rem;
}

.unit-option, .group-option {
	border: 1px solid black;
	display: inline-block;
	margin: .2rem;
	padding: .1rem;
	cursor: pointer;
	text-align: center;
}

.unit-option {
	font-size: .6rem;
}

.group-option {
	width: 100px;
	line-height: 150px;
	float: left;
}

.event-data-container, .heatmap-container, .label-container, .tooltipsidebar-container {
	border: 1px solid black;
	height: 290px;
	width: 300px;
	background-color: var(--filler);
}

.timeline-container {
	/* display: inline-block; */
	/* width: 100%; */
	/* position: relative;
	min-width: 1250px;
	max-width: 1400px; */
	position: fixed;
	width: 95%;
	bottom: 40px;
	border: black 1px solid;
	height: 250px;
}

.event-select-container {
	float: left;
	width: 12%;
	min-width: 130px;
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.event-option-container {
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.event-option {
	display: inline-block;
	font-size: .5rem;
	border: 1px solid black;
	width: 120px;
	cursor: pointer;
	padding: .2rem;
}

.solo-button {
	display: inline-block;
	border: 1px solid black;
	font-size: .5rem;
	margin-right: .3rem;
	cursor: pointer;
}

.y-axis {
	float: right;
	border-right: 1px solid black;
}

.x-axis {
	position: relative;
	top: -4px;
	height: 50px;
}

.timeline-chart {
	float: right;
	width: 88%;
	background-color: lightgrey;
}