html, body, #root {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

:root {
	--filler: lightgrey;
}

h3 {
	margin: 0;
	padding: 0;
}

.app-container {
	margin: auto;
	height: 90%;
	width: 90%;
}

.center-container {
	height: 800px;
	display: flex;
	margin: 1rem 0;
}

.map-container {
	width: 800px;
	height: 800px;
	margin: auto;
	border: 1px solid black;
	background-color: rgb(236, 236, 236);
}

.map-title {
	position: absolute;
	top: 35%;
	left: 50%;
}

.tooltip-element-wrapper {
	padding: .3rem;
	width: 250px;
	font-size: 1rem;
}

.tooltip-element-key {
	font-weight: bold;
}

.tooltip-element-value {
	font-weight: lighter;
}

.left-sidebar, .right-sidebar {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	width: 305px;
}

.left-sidebar {
	float: left;
}

.right-sidebar {
	float: right;
}

.title-container {
	background-color: grey;
	padding: 0.54rem;
	border-bottom: 1px solid black;
	height: 20px;
	text-align: center;
}

.map-select-container, .game-select-container, .select-container {
	border: 1px solid black;
	width: 300px;
	background-color: var(--filler);
}

.unit-select, .group-select {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.unit-option, .group-option {
	border: 1px solid black;
	display: inline-block;
	margin: .2rem;
	padding: .1rem;
	cursor: pointer;
}

.event-option {
	font-size: .5rem;
	border: 1px solid black;
	margin: 0;
	padding: 0;
	width: 120px;
	float: right;
}

.unit-option:hover, .group-option:hover, .event-option:hover {
	background-color: green;
}

.unit-option-active, .group-option-active, .event-option-active {
	background-color: green;
}

.event-data-container, .heatmap-container, .label-container {
	border: 1px solid black;
	height: 350px;
	width: 300px;
	background-color: var(--filler);
}

.timeline-container {
	display: inline-block;
	width: 100%;
	border: black 1px solid;
}

.event-select-container {
	float: left;
	width: 12%;
	height: 400px;
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.event-option-container {
	position: relative;
	clear: left;
}

.event-component {
	border: solid black 1px;
	display: inline;
	float: left;
	font-size: .7rem;
}

.event-label {
	float: right;
}

.y-axis {
	float: right;
	border-right: 1px solid black;
}

.x-axis {
	position: relative;
	top: -4px;
	height: 50px;
}

.timeline-chart {
	float: right;
	width: 88%;
	height: 400px;
	background-color: lightgrey;
}

.event-select-container-backup {
	display: inline-block;
	float: left;
	text-align: center;
	height: 300px;
	border: 1px solid black;
	background-color: var(--filler);
}